[submodule "flownet2-pytorch"]
	path = flownet2-pytorch
	url = git@github.com:mcgridles/flownet2-pytorch.git
[submodule "two-stream-action-recognition"]
	path = two-stream-action-recognition
	url = git@github.com:mcgridles/two-stream-action-recognition.git
[submodule "LENS_Mobile"]
	path = LENS_Mobile
	url = git@github.com:KevinHines13/LENS_Mobile.git
[submodule "LENS_Network"]
	path = LENS_Network
	url = git@github.com:lichto2005/LENS_Network_Public.git
